.ant-card-meta-description{
  color: rgba(0, 0, 0, 0.45);
}
.ant-card-head-title {
  text-align: center;
}
.ant-card-meta-detail {
  font-size: 1.375rem;
  font-weight: bold !important;
  text-transform: uppercase;
}
.ant-card-meta-title {
  font-weight: bolder !important;
}
.main-guest-title {
  letter-spacing: 0;
  text-transform: uppercase;
}
.ant-card-body {
  margin: 0;
}
