.q-stepper__dot {
    font-size: 20px !important;
    width: 36px !important;
    min-width: 36px !important;
    height: 36px !important;
    min-height: 36px !important;
}

.logo_hotel {
    width: 70px !important;

}

.bg-orange-harris {
    background: $yellowHarris;
}

.icon-ota {
    font-size: 4em !important;
    color: #1890ff;
    padding: 16px;
    background-color: rgba(24, 144, 255, 0.1);
    border-radius: 20px;
}

i .material-icons .q-icon .notranslate:hover {
    cursor: pointer;
}