// .ota {
//   background-color: $primary;
//   width: 100%;
//   height: 100vh;
//   padding-top: 10%;
//   overflow-x: hidden;
// }

.p-mobile {
  padding: 0 50px;
}

.self-checkin{
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
}

.mci-hotel {
  font-weight: bold;
}
@media only screen and (min-width: 577px) {
  .mci-hotel {
    font-weight: bold;
    font-size: 20px;
  }
}