// .ota {
//   background-color: $primary;
//   width: 100%;
//   height: 100vh;
//   padding-top: 10%;
//   overflow-x: hidden;
// }

body {
  width: 100% !important;
}

.p-mobile {
  padding: 0 50px;
}

.self-checkin {
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-transform: translate3d(0, 0, 0);
}

.mci-hotel {
  font-weight: bold;
}

.mci-size {
  font-size: 30px;
}

.titlecolor {
  color: #606060;
}

@media only screen and (min-width: 577px) {
  .mci-hotel {
    font-weight: bold;
    font-size: 20px;
  }
  .mci-size {
    font-size: 14px;
  }
}
