.img-hotel {
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .ilustrasi-top {
    width: 100%;
  }
  .img-hotel {
    width: 89vw;
    height: auto;
  }
  .invisible {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .card-online {
    width: 400px;
  }
  .img-hotel {
    width: auto;
    height: 195px;
    z-index: 1;
  }
  .visible {
    display: none;
  }
}