@media screen and (max-width: 576px) {
  .ilustrasi-top {
    width: 100%;
  }
  .img-hotel {
    // width: 333px;
    height: 171.95px;
  }
}
@media screen and (min-width: 1200px) {
  .card-online {
    width: 400px;
  }
  .img-hotel {
    // width: 662px;
    // height: 341.85px;
    width: auto;
    height: 300px;
  }
}