h3 {
  margin: 10px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: normal;
}

.font-white {
  color: white;
}

.text-white {
  color: #fff !important;
}

.text-secondary {
  opacity: 0.65;
}

.font-black {
  color: #000000;
}

.text {
  color: white;
  font-size: 14px;
  // position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2%;
  // left: 25%;
  align-content: center;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}
