h3 {
  margin: 10px;
}

h1 {
  font-size: 2em !important;
  margin-block-start: 0.67em !important;
  margin-block-end: 0.67em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  line-height: 1.5 !important;
}

h2 {
  font-size: 1.5em !important;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  line-height: 1.5 !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: normal;
}

.font-white {
  color: white;
}

.text-white {
  color: #fff !important;
}

.text-secondary {
  opacity: 0.65;
}

.font-black {
  color: #000000;
}

.text {
  color: white;
  font-size: 14px;
  // position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2%;
  // left: 25%;
  align-content: center;
}

.text-uppercase {
  text-transform: uppercase !important;
}
