h3 {
  margin: 40px 0 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-normal {
  font-weight: normal;
}
.font-white{
  color: white;
}
.text-white {
  color: #fff !important;
}
.font-black {
  color: #000000;
}