$primary    : #1890FF;
$white      : #FFFFFF;
$green      : #265C60;
$gray       : #EEEEEE;

$bluesky    : #1488CC;

$red        : #E85058;
$yellow     : #FBDB81;
$greenday   : #008800;
$magenta    : #D42A83;
$black      : #1B262C;
$orange     : #FA7D09;
$purple     : #901F90;
$grey       : #E4E3E3;
$gold       : #FFBF00;