$primary: #1890ff;
$white: #ffffff;
$green: #265c60;
$gray: #eeeeee;

$bluesky: #1488cc;

$red: #e85058;
$yellow: #fbdb81;
$greenday: #008800;
$magenta: #d42a83;
$black: #1b262c;
$orange: #fa7d09;
$purple: #901f90;
$grey: #e4e3e3;
$gold: #ffbf00;
$yellowHarris: #EA580B;