.ant-row {
  display: flex !important;
  flex-wrap: wrap !important;
}
.listGuest {
  max-width: 100vw;
}
.guestItem {
  min-height: 320px !important;
}
.q-card {
  border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: #f5f6f7 !important;
  color: #606060 !important;
}
.q-chip {
  margin: 0 !important;
  font-size: 8px !important;
  background: #ffffff !important;
  max-width: none !important;
}
.guest-name {
  display: flex;
  flex-direction: column;
}
.label-guestname {
  font-size: 10px;
}
.content-guestname {
  line-height: 20px;
  font-weight: bold;
  font-size: 16px;
}
.guestcard-item {
  font-size: 12px;
}
.guestcard-item-text {
  font-weight: 600;
}
.guestcard-peritem {
  margin-bottom: 5px;
}